<a href="https://colab.research.google.com/github/liarainingsih/H8_DS-001_Lia/blob/main/h8dsft_looping.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [16]:
numbers = [ 951, 402, 984, 651, 360, 69, 408, 319, 601, 485, 980, 507, 725, 
           547, 544, 615, 83, 165, 141, 501, 263, 617, 865, 575, 219, 390, 
           984, 592, 236, 105, 942, 941, 386, 462, 47, 418, 907, 344, 236, 
           375, 823, 566, 597, 978, 328, 615, 953, 345, 399, 162, 758, 219, 
           918, 237, 412, 566, 826, 248, 866, 950, 626, 949]

for i in numbers:
  if i % 2 == 0:
    print(i)
    if i == 918:
      break
print ('Done.')

402
984
360
408
980
544
390
984
592
236
942
386
462
418
344
236
566
978
328
162
758
918
Done.

In [17]:
numbers = [ 951, 402, 984, 651, 360, 69, 408, 319, 601, 485, 980, 507, 725, 
           547, 544, 615, 83, 165, 141, 501, 263, 617, 865, 575, 219, 390, 
           984, 592, 236, 105, 942, 941, 386, 462, 47, 418, 907, 344, 236, 
           375, 823, 566, 597, 978, 328, 615, 953, 345, 399, 162, 758, 219, 
           918, 237, 412, 566, 826, 248, 866, 950, 626, 949]

for i in numbers:
  if i % 2 == 0:
    print(i, end=' ')
    if i == 918:
      break
print ('Done.')

402 984 360 408 980 544 390 984 592 236 942 386 462 418 344 236 566 978 328 162 758 918 Done.