In [82]:
import sqlite3
import pandas as pd

from sqlite3 import Error

def create_connection(path):
    connection = None
    try:
        connection = sqlite3.connect(path)
        print("Connection to SQLite DB successful")
    except Error as e:
        print(f"The error '{e}' occured")
        
    return connection

In [83]:
connection = create_connection("C:\Hacktif\h8dsftSQL.sqlite")

Connection to SQLite DB successful

In [84]:
def execute_query(connection, query):
    cursor = connection.cursor()
    try:
        cursor.execute(query)
        connection.commit()
        print("Query executed successfully")
    except Error as e:
        print(f"The error '{e}' occured")

In [48]:
crAss = '''
CREATE TABLE assessments (
    code_module       TEXT,
    code_presentation TEXT,
    id_assessment     INTEGER,
    assessment_type   TEXT,
    date              REAL,
    weight            REAL
);
'''

execute_query(connection, crAss)

Query executed successfully

In [53]:
dtAss = pd.read_csv("C:\Hacktif\mainAssessment.csv")
for i in range(len(dtAss)):
    insertAss = '''
    INSERT INTO assessments
    (code_module, code_presentation, id_assessment, assessment_type, date, weight)
    VALUES('{}', '{}', {}, '{}', {}, {})
    '''.format(dtAss['code_module'][i], dtAss['code_presentation'][i], dtAss['id_assessment'][i], dtAss['assessment_type'][i], dtAss['date'][i], dtAss['weight'][i])
    execute_query(connection, insertAss)

Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
The error 'no such column: nan' occured
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
The error 'no such column: nan' occured
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
The error 'no such column: nan' occured
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
The error 'no such column: nan' occured
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
The error 'no such column: nan' occured
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
The error 'no such column: nan' occured
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
The error 'no such column: nan' occured
The error 'no such column: nan' occured
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
The error 'no such column: nan' occured
The error 'no such column: nan' occured
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
The error 'no such column: nan' occured
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully

In [59]:
crCourses = '''
CREATE TABLE courses (
    code_module                TEXT,
    code_presentation          TEXT,
    module_presentation_length INTEGER
);
'''

execute_query(connection, crCourses)

Query executed successfully

In [68]:
dtCourses = pd.read_csv("C:\Hacktif\courses.csv")
for i in range(len(dtCourses)):
    insertCourses = '''
    INSERT INTO courses
    (code_module, code_presentation, module_presentation_length)
    VALUES('{}', '{}',{})
    '''.format(dtCourses['code_module'][i], dtCourses['code_presentation'][i], dtCourses['module_presentation_length'][i])
    execute_query(connection, insertCourses)

Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully

In [69]:
crSA = '''
CREATE TABLE studentAssessment (
    id_assessment  INTEGER,
    id_student     INTEGER,
    date_submitted INTEGER,
    is_banked      INTEGER,
    score          REAL
);
'''
execute_query(connection, crSA)

Query executed successfully

In [72]:
dtSA = pd.read_csv("C:\Hacktif\studentAssessment.csv")
for i in range(len(dtCourses)):
    insertSA = '''
    INSERT INTO studentAssessment
    (id_assessment, id_student, date_submitted, is_banked, score)
    VALUES({}, {}, {}, {}, {})
    '''.format(dtSA['id_assessment'][i], dtSA['id_student'][i], dtSA['date_submitted'][i], dtSA['is_banked'][i], dtSA['score'][i])
    execute_query(connection, insertSA)

Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully

In [73]:
crSI = '''
CREATE TABLE studentInfo (
    code_module          TEXT,
    code_presentation    TEXT,
    id_student           INTEGER,
    gender               TEXT,
    region               TEXT,
    highest_education    TEXT,
    imd_band             TEXT,
    age_band             TEXT,
    num_of_prev_attempts INTEGER,
    studied_credits      INTEGER,
    disability           TEXT,
    final_result         TEXT
);

'''
execute_query(connection, crSI)

Query executed successfully

In [74]:
dtSI = pd.read_csv("C:\Hacktif\studentInfo.csv")
for i in range(len(dtSI)):
    insertSI = '''
    INSERT INTO studentInfo
    (code_module, code_presentation, id_student, gender, region, highest_education, imd_band, age_band, num_of_prev_attempts, studied_credits, disability, final_result)
    VALUES('{}', '{}', {}, '{}', '{}', '{}', '{}', '{}', {}, {}, '{}', '{}')
    '''.format(dtSI['code_module'][i], dtSI['code_presentation'][i], dtSI['id_student'][i], dtSI['gender'][i], dtSI['region'][i], dtSI['highest_education'][i], dtSI['imd_band'][i], dtSI['age_band'][i], dtSI['num_of_prev_attempts'][i], dtSI['studied_credits'][i], dtSI['disability'][i], dtSI['final_result'][i])
    execute_query(connection, insertSI)

Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully

In [85]:
crSR = '''
CREATE TABLE studentRegistration (
    code_module         TEXT,
    code_presentation   TEXT,
    id_student          INTEGER,
    date_registration   REAL,
    date_unregistration REAL
);
'''
execute_query(connection, crSR)

Query executed successfully

In [86]:
dtSR = pd.read_csv("C:\Hacktif\studentRegistration.csv")
for i in range(len(dtSR)):
    insertSR = '''
    INSERT INTO studentRegistration
    (code_module, code_presentation, id_student, date_registration, date_unregistration)
    VALUES('{}', '{}', {}, {}, {})
    '''.format(dtSR['code_module'][i], dtSR['code_presentation'][i], dtSR['id_student'][i], dtSR['date_registration'][i], dtSR['date_unregistration'][i])
    execute_query(connection, insertSR)

The error 'no such column: nan' occured
The error 'no such column: nan' occured
Query executed successfully
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
Query executed successfully
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
Query executed successfully
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
Query executed successfully
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
Query executed successfully
The error 'no such column: nan' occured
The error 'no such column: nan' occured
Query executed successfully
Query executed successfully
The error 'no such column: nan' occured
The error 'no such column: nan' occured
Query executed successfully
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
Query executed successfully
Query executed successfully
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
Query executed successfully
The error 'no such column: nan' occured
Query executed successfully
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
Query executed successfully
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
Query executed successfully
The error 'no such column: nan' occured
The error 'no such column: nan' occured
Query executed successfully
The error 'no such column: nan' occured
Query executed successfully
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
Query executed successfully
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
Query executed successfully
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
Query executed successfully
The error 'no such column: nan' occured
Query executed successfully
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
Query executed successfully
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
Query executed successfully
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
Query executed successfully
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
Query executed successfully
Query executed successfully
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
Query executed successfully
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
Query executed successfully
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
Query executed successfully
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
Query executed successfully
The error 'no such column: nan' occured
Query executed successfully
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
Query executed successfully
The error 'no such column: nan' occured
Query executed successfully
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
Query executed successfully
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
Query executed successfully
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
Query executed successfully
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
Query executed successfully
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
Query executed successfully
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
Query executed successfully
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
Query executed successfully
The error 'no such column: nan' occured
The error 'no such column: nan' occured
Query executed successfully
Query executed successfully
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
Query executed successfully
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
Query executed successfully
Query executed successfully
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
Query executed successfully
The error 'no such column: nan' occured
The error 'no such column: nan' occured
Query executed successfully
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
Query executed successfully
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
Query executed successfully
Query executed successfully
Query executed successfully
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
Query executed successfully
The error 'no such column: nan' occured
Query executed successfully
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
Query executed successfully
The error 'no such column: nan' occured
Query executed successfully
The error 'no such column: nan' occured
The error 'no such column: nan' occured
Query executed successfully
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
Query executed successfully
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
Query executed successfully
The error 'no such column: nan' occured
The error 'no such column: nan' occured
Query executed successfully
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
Query executed successfully
The error 'no such column: nan' occured
The error 'no such column: nan' occured
Query executed successfully
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
Query executed successfully
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
Query executed successfully
The error 'no such column: nan' occured
Query executed successfully
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
Query executed successfully
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
Query executed successfully
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
Query executed successfully
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
Query executed successfully
Query executed successfully
The error 'no such column: nan' occured
Query executed successfully
Query executed successfully
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
Query executed successfully
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
Query executed successfully
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
Query executed successfully
Query executed successfully
The error 'no such column: nan' occured
The error 'no such column: nan' occured
Query executed successfully
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
Query executed successfully
The error 'no such column: nan' occured
Query executed successfully
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
Query executed successfully

In [88]:
crVle = '''
CREATE TABLE vle (
    id_site           INTEGER,
    code_module       TEXT,
    code_presentation TEXT,
    activity_type     TEXT,
    week_from         REAL,
    week_to           REAL
)
'''
execute_query(connection, crVle)

Query executed successfully

In [90]:
dtVle = pd.read_csv("C:\Hacktif\_vle.csv")
for i in range(len(dtSR)):
    insertVle = '''
    INSERT INTO vle
    (id_site, code_module, code_presentation, activity_type, week_from, week_to)
    VALUES({}, '{}', '{}', '{}', {}, {})
    '''.format(dtVle['id_site'][i], dtVle['code_module'][i], dtVle['code_presentation'][i], dtVle['activity_type'][i], dtVle['week_from'][i], dtVle['week_to'][i])
    execute_query(connection, insertVle)

The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
Query executed successfully
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
Query executed successfully
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
Query executed successfully
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
Query executed successfully
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
Query executed successfully
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
Query executed successfully
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured
The error 'no such column: nan' occured

KeyError: 6364

In [92]:
def select_query(connection,query):
    cur = connection.cursor()
    cur.execute(query)
    rows = cur.fetchall()
    
    for row in rows:
        print(row)

In [93]:
dt = pd.read_sql_query("SELECT studentInfo.id_student, studentInfo.region, studentInfo.code_module, assessments.assessment_type, assessments.id_assessment, studentAssessment.score FROM studentInfo INNER JOIN assessments INNER JOIN studentAssessment ON studentInfo.code_module = assessments.code_module AND studentInfo.id_student = studentAssessment.id_student AND studentAssessment.id_assessment = assessments.id_assessment WHERE assessments.code_presentation = '2014B'", connection)
dt

,id_student,region,code_module,assessment_type,id_assessment,score
0,25997,London Region,BBB,CMA,15015,100.0
1,27891,Scotland,BBB,CMA,15015,100.0
2,27891,Scotland,BBB,CMA,15015,100.0
3,50069,Scotland,BBB,CMA,15015,100.0
4,52426,Scotland,BBB,CMA,15015,100.0
...,...,...,...,...,...,...
40336,2672138,North Western Region,GGG,TMA,37427,80.0
40337,2677135,Yorkshire Region,GGG,TMA,37427,95.0
40338,2682002,Yorkshire Region,GGG,TMA,37427,65.0
40339,2689480,North Region,GGG,TMA,37427,55.0
40340,2695362,East Midlands Region,GGG,TMA,37427,78.0

In [94]:
dt.to_excel("C:\Hacktif\output.xlsx")