In [25]:
import sqlite3
import pandas as pd

from sqlite3 import Error

def create_connection(path):
    connection = None
    try:
        connection = sqlite3.connect(path)
        print("Connection to SQLite DB successful")
    except Error as e:
        print(f"The error '{e}' occured")
        
    return connection

In [27]:
connection = create_connection("C:\Hacktif\W2D1.sqlite")

Connection to SQLite DB successful

In [29]:
def execute_query(connection, query):
    cursor = connection.cursor()
    try:
        cursor.execute(query)
        connection.commit()
        print("Query executed successfully")
    except Error as e:
        print(f"The error '{e}' occured")

In [59]:
ass = pd.read_csv("C:\Hacktif\_assess.csv")

ass.to_sql('ass', connection, if_exists='append', index = False)

In [60]:
courses = pd.read_csv("C:\Hacktif\courses.csv")

courses.to_sql('courses', connection, if_exists='append', index = False)

OperationalError: table courses has no column named module_presentation_length

In [61]:
studentAssessment = pd.read_csv("C:\Hacktif\studentAssessment.csv")

studentAssessment.to_sql('studentAssessment', connection, if_exists='append', index = False)

In [62]:
studentInfo = pd.read_csv("C:\Hacktif\studentInfo.csv")

studentInfo.to_sql('studentInfo', connection, if_exists='append', index = False)

In [63]:
studentRegistration = pd.read_csv("C:\Hacktif\studentRegistration.csv")

studentRegistration.to_sql('studentRegistration', connection, if_exists='append', index = False)

In [65]:
vle = pd.read_csv("C:\Hacktif\_vle.csv")

vle.to_sql('vle', connection, if_exists='append', index = False)

In [67]:
def select_query(connection,query):
    cur = connection.cursor()
    cur.execute(query)
    rows = cur.fetchall()
    
    for row in rows:
        print(row)

In [71]:
dt = pd.read_sql_query("SELECT studentInfo.id_student, studentInfo.region, studentInfo.code_module, courses.assessment_type, studentAssessment.score FROM studentInfo JOIN studentAssessment JOIN courses ON studentInfo.id_student = studentAssessment.id_student AND studentAssessment.id_assessment = courses.id_assessment WHERE courses.code_presentation = '2014B'", connection)
dt

       id_student                region code_module assessment_type  score
0           25997         London Region         BBB             CMA  100.0
1           27891              Scotland         BBB             CMA  100.0
2           27891              Scotland         BBB             CMA  100.0
3           50069              Scotland         BBB             CMA  100.0
4           52426              Scotland         BBB             CMA  100.0
...           ...                   ...         ...             ...    ...
48949     2672138  North Western Region         GGG             TMA   80.0
48950     2677135      Yorkshire Region         GGG             TMA   95.0
48951     2682002      Yorkshire Region         GGG             TMA   65.0
48952     2689480          North Region         GGG             TMA   55.0
48953     2695362  East Midlands Region         GGG             TMA   78.0

[48954 rows x 5 columns]

In [75]:
dt.to_excel("C:\Hacktif\output.xlsx")